@model List<TestingSystem.Web.Controllers.AnswersArray>
@{
 
    
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

</head>
<body>
    <div>
            
        @using (Html.BeginForm())
        {

            for (int i = 0; i < ViewBag.Questions.Count; i++)
            {
                <p>
                    @ViewBag.Questions[i].Questionn</p>
                    <br />
                    @Html.TextBoxFor(m => m[i].Answers)

            }
            <br/>
            <input type="submit" value="Accept" />
        }
    </div>
    
</body>

</html>
