@model TestingSystem.Entities.Mark
@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_LayoutForTests.cshtml";
    
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/site.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <title>Result</title>
</head>
<h2 class="tab-content">Result</h2>
<h2 class="tab-pane">You collected @Model.Value points</h2><br />
<h2 class="tab-pane">Congratulations</h2><br />

@Html.ActionLink("Back to Tests", "ListOfTests", new { id = Model.StudentId })



