@{
    ViewBag.Title = "Comand";
    Layout = "~/Views/Shared/_LayoutForAdmin.cshtml";
}
<!DOCTYPE html>
<html lang="uk">
<head>
    <title>Command</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/site.css" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <meta name="msapplication-TileImage" content="/assets/img/metis-tile.png">
</head>
<body>

    <div class="container text-center">
        <h3>Наша прекрасна команда</h3>
        <p><em>Ми вас любимо!</em></p>
        <p></p>
        <br>
        <div class="row text-center">
            <div class="col-sm-6">
                <p class="text-center"><strong>Анна - спокій та</strong></p><br>
                <p class="text-center"><strong>конструктивність команди</strong></p><br>
                <img src="~/Content/anna.png" class="img-circle person" alt="Random Name" width="255" height="255">
            </div>
            <div class="col-sm-6">
                <p class="text-center"><strong>Оленка - продуктивність та</strong></p><br>
                <p class="text-center"><strong>впевненість команди</strong></p><br>
                <img src="~/Content/ol.JPG" class="img-circle person" alt="Random Name" width="255" height="255">
            </div>
        </div>
        <br><br>
        <div class="row text-center">
            <div class="col-sm-6">
                <p class="text-center"><strong>Іван - рушійна сила</strong></p><br>
                <p class="text-center"><strong>(у всіх сенсах)</strong></p><br>
                <img src="~/Content/iv.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
            </div>
            <div class="col-sm-6">
                <p class="text-center"><strong>Ганнуська - краса та</strong></p><br>
                <p class="text-center"><strong>натхнення команди</strong></p><br>
                <img src="~/Content/ja.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
            </div>
        </div>
    </div>

</body>
</html>




