@model  IEnumerable<TestingSystem.Services.TeacherServices.TestsDTO>
    @{
        ViewBag.Title = "GetAllTests";
        
        Layout = "~/Views/Shared/_LayoutForTeacher.cshtml";
    }

<!DOCTYPE html>

<html>
<head>
    <title>AddQuestion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/site.css" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <meta name="msapplication-TileImage" content="/assets/img/metis-tile.png">
</head>
<body class="text">
<h2>GetAllTests</h2>
    <br>
@Html.ActionLink("Add new test", "AddTest")<br>
<div>
    List of all tests :
</div>
    <div class="test">
        <table class="table">
            <tr></tr>

            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td></td>

                    <td>
                        @Html.ActionLink("go to questions ", "GetQuestionByTest", new { id = item.Id })
                    </td>

                    <td>
                        @Html.ActionLink("delete test", "DeleteTest", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
    </div>
</body>
</html>