@model bool[]
@{
    Layout = "_Layout";
    bool currentAnswer = false;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @using (Html.BeginForm())
        {
            for (int i=0; i<ViewBag.Questions.Count; i++)
            {
                <p>
                    @ViewBag.Questions[i].Questionn
                    @Html.CheckBoxFor(t => Model[i]);
                </p>

            }
        }
    </div>
</body>
</html>
