@using TestingSystem.Web.Security

@{
   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StudentAccount</title>
</head>
<body>
    <div>
        Student`s @SessionPersister.Username Account<br />
        
        <br>
        
       
    </div>
</body>
</html>
