@using TestingSystem.Web.Security

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SuccessAccount</title>
</head>
<body>
    <div>
        User: @SessionPersister.Username
        <br>
        
        <a href="@Url.Action("Logout", "Account")">Logout</a>
    </div>
</body>
</html>
